<script>
    import { scaleLinear } from 'd3-scale'
    import { area } from 'd3-shape'
    import { extent } from 'd3-array'
    export let splitdata = [];
    export let fulldata=[];
    export let index = null;
    export let scaleAcross = null;
    export let width=null;
    export let types=[];

    $: HeightAcross = scaleLinear().range([1, 20]).domain(extent(fulldata.map(d => d.total_heating_energy)));
    $: heightperLine = scaleLinear().range([1, 20]).domain(extent(splitdata.map(d => d.total_heating_energy)));
    $: lengthLine = scaleLinear().range([0, width]).domain([0, splitdata.length - 1]);

    let thickness;

    function calculateThickness(_) {
        thickness = area().x(function(_, i) { return lengthLine(i) }) 
            .y0(function(d) {
                if(scaleAcross)
                    return -HeightAcross(d.total_heating_energy)/2 + 14 * (index + 1)
                else
                    return -heightperLine(d.total_heating_energy)/3 + 14 * (index + 1)
            }) 
            .y1(function(d) {
                if(scaleAcross)
                    return HeightAcross(d.total_heating_energy)/2 + 14 * (index + 1)
                else
                    return heightperLine(d.total_heating_energy)/3 + 14 * (index + 1)
            })
    }

    $: calculateThickness(splitdata);
</script>

<path  fill="black" d="{thickness(splitdata)}"> 
<title> {types} </title>
</path>


<style>
    path:hover {
fill: red;
    }

</style>
