<script>
  //imports
  import { json } from "d3-fetch";
  import { onMount } from "svelte";
  import { scaleLinear } from 'd3-scale';
  import { scaleRadial } from 'd3-scale';
  import { lineRadial } from 'd3-shape';
  import { curveLinearClosed } from 'd3-shape';
 import { max,extent } from "d3-array";

  // Size and margins
  const width = 600;
  const height = 250;
  const margin = { top: 10, right: 10, bottom: 10, left: 10 };
  const innerWidth = width - margin.left - margin.right;
  const innerHeight = height - margin.top - margin.bottom;

  let datapoints=[];
  let locations=[];
  $: dataByCity=[];
  $: radius = innerWidth/8;
  $: centers_x=[innerWidth/8+10, innerWidth/2, 7*innerWidth/8-10]
  $: centers_y=innerHeight/2

  //Loading and handling data
  onMount(async () => {
    let data = await json("/data/daily_heating_cooling.json");
    datapoints= data.sort((a, b) => {a.day_of_year < b.day_of_year})
    locations = [...new Set(datapoints.map(h => h.city))]
  });

  function splitByCity(_) {
    if(!datapoints)
      return;
    dataByCity = locations.map(l=> {
      return datapoints.filter(d => d.city == l)
    })
  }

  $: splitByCity(datapoints);

// Scales
$: angleScaling = scaleLinear()
  .domain([1,365])
  .range([0, 2 * Math.PI]);

$: radiusScaling = scaleRadial()
  .range([0,radius-5])
  .domain([0,(max(datapoints ,d => Math.max(d.cooling,d.heating)))]);

$: curveCooling = lineRadial()
  .angle((d) => angleScaling(d.day_of_year))
  .radius((d) => radiusScaling(d.cooling))
  .curve(curveLinearClosed);

$: curveHeating = lineRadial()
  .angle((d) => angleScaling(d.day_of_year))
  .radius((d) => radiusScaling(d.heating))
  .curve(curveLinearClosed);

$: console.log(angleScaling( dataByCity[1]));

</script>

<svg {width} {height}>
<g transform="translate({margin.left}, {margin.top})">

  <!-- labels,lines, circles -->
  {#each centers_x as c,i}
    <circle cx={c} cy={centers_y} r={radius} />

    <line x1={c - radius} y1={centers_y} x2={c + radius} y2={centers_y} />
    <line x1={c} y1={centers_y + radius} x2={c} y2={centers_y - radius} />

    <text x={c-5} y={centers_y - radius-5}>0</text>
    <text x={c + radius + 5} y={centers_y+5}>3</text>
    <text x={c-5} y={centers_y + radius + 15}>6</text>
    <text x={c - radius - 15} y={centers_y+5}>9</text>
    <text x={c - 34} y={centers_y-radius-30} class="city">{locations[i]}</text>

  {/each}
  
  <!-- plot data -->
  {#each dataByCity as d,i}
    <g transform="translate({centers_x[i]},{centers_y})">
    
      <path d="{curveHeating(d)}" class="hot" />
      <path d="{curveCooling(d)}" class="cool" />
      {console.log(d.day)}
    </g>
  {/each}

  <!-- Labelling -->
  <text x=130 y={innerHeight} id="legend" class="hot"  >Heating Energy Usage</text>
  <text x=130 y={innerHeight-15} id="legend" class="cool" >Cooling Energy Usage</text>
  <rect x=120 y={innerHeight-30} width="145" height=50 />
  <g transform="translate({radius+10},{-radius-10})">
    <text x={centers_x[1]-15} y={centers_y+20} class="arrow" >Month</text>
    <path d="M {centers_x[1]},{centers_y+radius} Q {centers_x[1]-9},{centers_y+9}  {centers_x[1]-radius},{centers_y}" class="arrow" />
    <line x1={centers_x[1]} x2={centers_x[1]-6} y1={centers_y+radius} y2={centers_y+radius-4} class="arrow" />
    <line x1={centers_x[1]} x2={centers_x[1]+4}.5 y1={centers_y+radius} y2={centers_y+radius-6} class="arrow" />
  </g> 

</g>
</svg>



<style>
  svg {
    border: 1px solid black;
    border-radius: 5px;
  }
  circle {
    fill: none;
    stroke: black;
    stroke-width: 0.5px;
  }
  line{
    stroke:black;
    stroke-width: 0.5px;
  }
  .hot{
    fill: red;
    opacity: 0.5;
    stroke: red;
  }
  .cool {
    fill:blue;
    opacity: 0.5;
    stroke: blue;
  }
  path{
    stroke: black;
    fill: black;
  }

  rect {
    stroke: black;
    fill:none;
  }
  #legend {
    font-size: small;
    opacity: 1.0;
    fill:none;
  }
  .arrow {
    fill: none ;
    stroke: black;
    opacity: 0.7;
  }
  
  text.arrow {
    font-size: small;
    fill: black ;
    stroke: none;
  }
  .city {
    stroke: black;
  }
</style>
