<script>
//import
  import Drawline from "./_design_1_drawline.svelte";
  import { json } from "d3-fetch";
  import { onMount } from "svelte";
  // Define variables
  const width = 600;
  const height = 270;
  const margin = { top: 10, right: 10, bottom: 10, left: 10 };
  const innerWidth = width - margin.left - margin.right;
  const innerHeight = height - margin.top - margin.bottom;
  const city = ['Baltimore','Chicago','Los Angeles'];
  const scaling=['across all building types','within building type'];
  let heatdec = [];
  $: filterCity = [];
  $: uniqueBuildTypes = [];
  let selectedCity = city[1];
  let selectedScaling = scaling[1];
  $: dataByBuildType = [];

  //Loading and handling data
  onMount(async () => {
    let data = await json("/data/hourly_heating_december.json");
    heatdec = data.sort((a, b) => {a.day < b.day && a.hour < b.hour})
    uniqueBuildTypes = [...new Set(heatdec.map(h => h.buildingtype))]
    selectCity()
  });

  function selectCity(_) {
    if(!heatdec)
      return;
    filterCity = heatdec.filter(d => d.city == selectedCity)
  }

  function splitByBuildType(_) {
    if(!heatdec)
      return;
    dataByBuildType = uniqueBuildTypes.map(t=> {
      return filterCity.filter(c => c.buildingtype == t)
    })
  }
  
  $: selectCity(selectedCity);
  $: splitByBuildType(selectedScaling);
  $: splitByBuildType(filterCity);
  $: console.log(dataByBuildType);
  
</script>

<div  class="inline">
  {#if !heatdec}
  <p>data loading...</p>
  {:else}
  <div class="row justify-content-md-center" >
    <div class="col-6">
      <select id="scale-select" class="scale-select" bind:value={selectedScaling}>
        {#each scaling as s}
        <option value={s}>
          scale {s}</option>
        {/each}
      </select>
    </div>
    <div class="col-3" >
      <select id="city-select" class="city-select" bind:value={selectedCity}>
        {#each city as c}
          <option value={c}>{c}</option>
        {/each}
      </select>
    </div>
  </div>

  

  <svg {width} {height}>
    <g transform="translate({margin.left}, {margin.top})">
      {#each dataByBuildType as data, idx}
        {#if selectedScaling == scaling[1]}
          <Drawline  splitdata={data} fulldata={filterCity} index={idx} width={innerWidth} types={uniqueBuildTypes[idx]} >   </Drawline>
        {:else}
        <Drawline splitdata={data} fulldata={filterCity} index={idx} scaleAcross=true width={innerWidth} types={uniqueBuildTypes[idx]} ></Drawline>
        {/if}
      {/each}
          <text x={innerWidth/4 -50 } y={innerHeight}> Heating Energy Usage in {selectedCity} over December ~ Line Tickness</text>
          <text x=0 y=0 class="note" > *Hover the lines for building type </text>
          <text x=0 y={innerHeight-10} class="labels" > Dec 1 </text>
          <text x={innerWidth-30} y={innerHeight-10} class="labels" > Dec 31 </text>

        </g>
  </svg>


  {/if}
</div>



<style>
  svg {
    border: 1px solid black;
    border-radius: 5px;
  }
text{
  fill:red ;
  stroke:red ;
  font-size: small;
}
.note {
  fill: red;
  stroke: none;
    font-size: x-small;
    opacity: 0.6;
  }
  .labels {
  fill: black;
  stroke: none;
    font-size: x-small;
    opacity: 0.6;
  }
</style>


 