<script>
  //import
  import { json } from "d3-fetch";
  import { onMount } from "svelte";
  import { scaleLinear } from 'd3-scale';
  import { area ,curveBasis} from 'd3-shape';
  import { max } from 'd3-array';
  
  
  // Define Variables
  const width = 500;
  const height = 600;
  const margin = { top: 10, right: 10, bottom: 10, left: 10 };
  const innerWidth = width - margin.left - margin.right;
  const innerHeight = height - margin.top - margin.bottom;
  let heg_data=[];
  let weeks=[];
$: dataByWeek=[];

//loading and handling data
  onMount(async () => {
    let data = await json("/data/hourly_electricity_vs_gas_december.json");
    heg_data= data.sort((a, b) => {a.day < b.day && a.hour < b.hour})
    weeks = [...new Set(heg_data.map(d => d.week))]

  });

  function splitByWeek(_) {
    if(!heg_data)
      return;
    dataByWeek = weeks.map(w=> {
      return heg_data.filter(d => d.week == w)
    })
  }
  $: splitByWeek(heg_data);
  $: console.log(max(heg_data ,d => Math.max(d.total_gas,d.total_electrity)));

  // Y scale 
  $: leafBorder = scaleLinear()
    .domain([0,(max(heg_data ,d => Math.max(d.total_gas,d.total_electrity)))])
    .range([0,100]);


  // X Scale
  $: leafLength = scaleLinear()
    .domain([1,168])
    .range([0,innerWidth/3]); 

    let areaE;
    let areaG;

    function calculateAreaE(_) {
        areaE = area().x(function(d, i) {
           if (d.week %2 ===0)
            return leafLength(i) 
          else 
            return -leafLength(i) }) 
            .y1(function(d) {
                    return -leafBorder(d.total_electrity) 
            })
            .y0(0)
            .curve(curveBasis) 
    }

    function calculateAreaG(_) {
        areaG = area().x(function(d, i) {
           if (d.week %2 ===0)
            return leafLength(i) 
          else 
            return -leafLength(i) }) 
            .y1(function(d) {
                    return leafBorder(d.total_gas) 
            }) 
            .y0(0)
            .curve(curveBasis)
    }

    $: calculateAreaE(dataByWeek);
    $: calculateAreaG(dataByWeek);
  </script>

<svg {width} {height}>
  <g transform="translate({margin.left}, {margin.top})">
    <!-- Body -->
    <line x1={innerWidth / 2 + 2} y1={innerHeight-100} x2={innerWidth / 2 + 2} y2=30/>

    <!-- Leaves -->
    {#each dataByWeek as data, id}

        <g transform="translate({innerWidth / 2 + 2},{innerHeight-150 - id * 90}) rotate({-20*Math.pow(-1,id)})">
                 
          <path   d="{areaE(data)}" class="elec" />
          <path   d="{areaG(data)}" class="gas"  />
          {console.log(id)}

          {#if id%2===0}
            <line x1=0 y1=0 x2={innerWidth/3} y2=0/>
            <text x=-50 y=0 class="legend" transform="rotate({20*Math.pow(-1,id)})" >Week {id+1}</text>
          {:else} 
            <line x1=0 y1=0 x2={-innerWidth/3} y2=0/>  
            <text x=10 y=0 class="legend" transform="rotate({20*Math.pow(-1,id)})" >Week {id+1}</text>
          {/if}
        </g>
    {/each}

    <!-- Legend -->
    <text x={innerWidth / 3 + 30} y={innerHeight - 45} class="title">Baltimore</text>
    <text x={innerWidth / 3} y={innerHeight - 15} class="title">(December 2014)</text>
    
    <text x=20 y=490 class="elec"  >Electricity Usage</text>
    <text x=20 y=510 class="gas" >Gas Usage</text>
    <rect x=10 y=470 width="130" height=50 />
    <text x=0 y=5 class="note" > *Scaled across all weeks </text>
    

  </g>
</svg>

<style>
  svg {
    border: 1px solid black;
    border-radius: 5px;
  }
  line {
    stroke: black ;
  }
  .elec {
    stroke: blue;
    fill: blue;
    fill-opacity : 0.6;
  }
  .gas{
    stroke: orange;
    fill: orange;
    fill-opacity : 0.6;
  }
  rect {
    fill: none;
    stroke: black;
    
  }
  #elec{
    fill: blue;
  }

  .title {
    stroke: black;
    font-size: 20px;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  }
  .legend {
    font-size: small;
  }
  .note {
    font-size: small;
    opacity: 0.6;
  }
</style>
