<script>
  let current = "";
</script>

<style>
  button.back {background-color: aqua}
</style>

<button class="btn btn-secondary {current=="messi" ? 'back':''}" on:click={() => (current = "messi")}>
  Messi
</button>

<button class="btn btn-secondary {current=="ronaldo" ? 'back':''}" on:click={() => (current = "ronaldo")}>
  Ronaldo
</button>

<button class="btn btn-secondary {current=="neymar" ? 'back':''}" on:click={() => (current = "neymar")}>
  Neymar
</button>
