<script>
    const baris={name:'Barış'};
    const fav=['Volleyball','Football','Data Visualization'];
</script>

<p>
    My name is {baris.name} and these are some of my favourite things: {fav} .
</p>
