<script>
  // Properties
  export let data = [];
  const continents = ["europe", "asia", "americas", "africa","all"];

  export let selectedContinent = 'all';
  export let selectedYear = 1800;
  function Year( ) {
    if (selectedYear>2014) {selectedYear =1800}
    else{selectedYear++}
  }

  let startInt;

let stop = true;
const Anima=( )=>{  
    if (stop) {
      startInt=setInterval(Year, 100);
     stop=false;}
    else {
      stop=true;
      clearInterval(startInt);
    }
  }
  const Reset=( )=>{
    selectedYear = 1800;
    clearInterval(startInt)
    stop = true;
  }

</script>

<div class="row">
  <div class='col-4'>
    <button class="btn btn-success" on:click={Anima}>{stop ? 'Start': 'Pause'} </button>
    <button class="btn btn-danger" on:click={Reset}>Reset</button>
  </div>

  <div class='col-5'>
    <label class="form-label col-sm-15"> Year: {selectedYear} 
    <input type="range" class="form-range" min='1800' max='2014' bind:value={selectedYear} />
    </label>
  </div>

  <div class='col-3'>
    <select class="form-select" bind:value={selectedContinent}>
      {#each continents as continent}
        <option>{continent}</option>
      {/each}
    </select>
  </div>

</div>
