<script>
  import { scaleLinear,scaleOrdinal, scaleLog,  scaleSqrt} from "d3-scale";
  import { schemeSet3 }from 'd3-scale-chromatic';
  import { extent } from 'd3-array';
  import { axisLeft,axisBottom } from 'd3-axis';
  import { select } from 'd3-selection';
  // Dimensions
  const [height, width] = [400, 600];
  const margin = { top: 50, right: 5, bottom: 55, left: 50 };
  const innerWidth = width - margin.left - margin.right;
  const innerHeight = height - margin.top - margin.bottom;

  
  export let data;
  
  const colour = extent(data, (x) => x.continent);
  const scale_x=scaleLog().domain([300,10000]).range([0,innerWidth]);
  const scale_y=scaleLinear().domain([0,90]).range([innerHeight,0]);
  const ordinal=scaleOrdinal().range(schemeSet3).domain(colour);
  const radius=scaleSqrt().domain([0,5e8]).range([5,10]);
  const ticks=[0,500,1500,5000];
  
  let ax;
  $:{
    let yaxis=axisLeft(scale_y);
    select(ax).call(yaxis);
  }
  
  let ay;
  $:{
    let xaxis=axisBottom(scale_x)
    .tickValues(ticks);
    select(ay).call(xaxis);
  }
</script>

<svg viewBox="0 0 {width} {height}" style="max-width: {width}px">
  <g transform="translate({margin.left}, {margin.top})">
    {#each data as d}
    {#if d.income !== null && d.life_exp !== null && d.population !== null}
    <circle r={radius (+ d.population)}  cy={scale_y (+ d.life_exp)} cx={scale_x (+ d.income)} style="fill: {ordinal(d.continent)};"/>
    {/if}
    {/each}

    <text  x={innerWidth / 2 - margin.left} y={height - 70} fill="currentColor" style="font-size:1.0em;">
      Income($)
    </text>
    <text x={innerWidth / 2 - 100}  y=0 style="font-size:2.0em;"> 
      Scatterplot 
    </text>
    <text x={innerWidth - 60}, y={innerHeight - 10} style="font-size:1.5em; opacity: 0.5;">
      1800
    </text>
  
  </g>
  <text x=-10 y=0 transform=" translate(20,250) rotate(270)" fill="currentColor" >
    Life Expectancy 
  </text>
  <g transform="translate({margin.left},{margin.top})" bind:this={ax} />
  <g transform="translate({margin.left},{innerHeight+margin.top})" bind:this={ay} />
</svg>

