<script>
  import { scaleLog } from 'd3-scale';
  import { axisBottom } from 'd3-axis';
  import { select } from 'd3-selection';
  // Dimensions
  const width = 800;
  const height = 100;
  const margin = { top: 5, right: 5, bottom: 25, left: 5 };
  const innerWidth = width - margin.left - margin.right;
  const innerHeight = height - margin.top - margin.bottom;

  // Array
  const values = [2, 4, 6, 7, 9];
  const scaleX = scaleLog().domain([1, 10]).range([0,800])
  
  function makeXaxis(x){
    let xAxis = axisBottom(scaleX);
    select(x).call(xAxis);
 }
</script>

<svg viewBox="0 0 {width} {height}">
  <g transform="translate({margin.left},{margin.top})">
    {#each values as value}
      <circle cx={scaleX(value)}
        cy={innerHeight / 2}
        r="10"
        style="fill:steelblue">
      </circle>
    {/each}
  </g>
  <g transform="translate({margin.left},{innerHeight + margin.top})" use:makeXaxis></g>
    <text fill="currentColor" font-size="12" y="95" x="{(width) / 2}">
      x-Axis(log)
    </text>
</svg>
