<script>
  import { scaleBand, scaleLinear, scaleOrdinal } from 'd3-scale';
  import { scaleQuantize } from  'd3-scale';
  import { schemeAccent} from 'd3-scale-chromatic';
  import { extent } from 'd3-array'
import { text } from 'svelte/internal';
import {axisLeft,axisBottom} from 'd3-axis';
import {select} from 'd3-selection'
  // Dimensions
  const width = 600;
  const height = 300;
  const margin = { top: 10, right: 10, bottom: 30, left: 60 };
  const innerWidth = width - margin.left - margin.right;
  const innerHeight = height - margin.top - margin.bottom;

  // Array
  const data = [
    { service: "Netflix", viewers: 2.9 },
    { service: "Amazon Prime Video", viewers: 1.3 },
    { service: "Disney+", viewers: 2.1 },
    { service: "Hulu", viewers: 0.9 },
    { service: "Apple TV", viewers: 1.1 },
    { service: "Rakuten", viewers: 0.4 }
  ];
  const scaleY = scaleLinear().domain([0, 4]).range([innerHeight,0]);
  const scaleX = scaleBand().domain(data.map(x=>x.service)).range([0,innerWidth]);

  function makeY(y){
    let yAxis=axisLeft(scaleY);
    select(y).call(yAxis);
 }

 function makeX(x){
    let xAxis=axisBottom(scaleX);
    select(x).call(xAxis);
 }
</script>

<!-- setting a viewBox and max-width allows the SVG to shrink but not grow! -->
<svg viewbox="0 0 {width} {height}" style="max-width: {width}px">
  <!-- svelte-ignore component-name-lowercase -->
  <text  x=0 y=0 transform=" translate(25, 200) rotate(270)" fill="currentColor">
    Viewers(m)
  </text>
  <g transform={`translate(${margin.left},${margin.top})`}>
    {#each data as value}
      <rect x={scaleX(value.service)}
        y={scaleY(value.viewers)}
        width={innerWidth/6}
        height={innerHeight- scaleY(value.viewers)}
        style="fill:yellow ; stroke:black">
      </rect>
    {/each}
  </g>
  <g transform="translate({margin.left},{margin.top})" use:makeY>
  </g>
  <g transform="translate({margin.left},{innerHeight+margin.top})" use:makeX>
  </g>
</svg>
