<script>
import Scatterplot from "./_ex_7_scatterplot.svelte";
import { onMount } from 'svelte';

let loaded;
let dataset = null;
    
onMount(async () => {
    const data_await = await fetch('/data/gapminder.json');
    dataset=await data_await.json();
    loaded=true;
});
</script>

{#if loaded} 
    <Scatterplot data={dataset[0].countries} />
{:else}
    <p>Please wait, loading...</p>
{/if}